.main-img {
    background-image: url("pexels-codioful-6985045.jpg");
    width: 100%;
  }
  h1 {
    font-family: 'Montserrat', sans serif;
    font-size: 75px;
  }
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Playwrite+HR:wght@100..400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');
  
  .container-xxl{
    padding: 60px;
  }
  
  .card{
    width:450px;
    height: 390px;
    background-color: white;
    border: 5px solid #e8b5e4;
  }
  .menu-item  {
    aligh-items: center;
  }
  
  h3{
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 100;
    border-bottom: 1px solid #b25cab;
  }
  
  .iconM{
    font-size: 18px;
    margin-left: 170px;
    color: #ef30fd;
  }
  
  .icon{
    margin-right: 8px;
  }
  
  .body li{
    transition: 1s all;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 15px;
    margin-left: -40px;
    margin-top: 0px;
    color: black;
    list-style: none;
    display: block;
    align-text: center;
  }
  
  li:hover{
    transition: 0s all;
    color: #ea8a9a;
    background-color: white;
    cursor: pointer;
    border: 5px solid;
  }
  
  
  .body li ul{
    background: #cdcfc0;
    margin-top: -38px;
    display: none;
    position: absolute;
    border-top-right-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    width: 100%;
  }
  
  .body li:hover > ul{
    display: block;
    cursor: pointer;
  }
  @media (max-width: 1025px) {
    .menu {
      display: none;
    }
  }
  @media (min-width: 1025px) {
    .text-column {
      align-items: center;
    }
  }
  .project-heading {
    
  }
  h2 {
    font-family: 'Montserrat', sans serif;
    font-size: 50px;
  }
  .project-links {
    background-color: #ffbdf6;
    border: 5px solid  #ea8a9a;
    height: 120px;
    align-content: center;
  }
  .pj-link {
    font-style: bold;
    color: white;
    font-size: 20px;
   text-align: center;
    
    
  }
  a {
    text-decoration: none;
    font-family: 'Montserrat', cursive;
  }
  div row .project column {
    height: 200px;
  }
  .project-subheading {
    font-family: 'Montserrat', cursive;
    font-size: 20px;
  }
  a.pj-link:hover {
    color: #ea8a9a;
  }
  .about-heading {
    background-color: #f6fdbf;
  }
  .information h3 {
    text-align: center;
    font-size: 20px;
    border-bottom: none;
  }
  .skills {
    background-color: #facefd;
    text-align: center;
    height: 850px;
  }
  
  /*experience*/
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
  .loadbar {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px 100px;
    overflow: hidden;
    background: transparent;
  }
  @media (max-width: 577px) {
    .loadbar {
      display: none;
    }
  }
  
  .box {
    position: relative;
    width: 185px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    background: linear-gradient(#fff, #dd64d3, #d47af5);
    filter: blur(1px);
    z-index: 1;
  }
  
  .box::after {
    content: '';
    position: absolute;
    top: 1px;
    right: -1px;
    width: 20px;
    height: 100%;
    background: #d6a5d9;
    filter: blur(1px);
    z-index: 1;
  }
  
  .box .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #eee;
  }
  
  .box .shadow::before {
    content: '';
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
    width: 100%;
    height: 200%;
    background: linear-gradient(rgba(0,0,0,0.075), transparent);
    transform: skewX(45deg);
  }
  
  .box .shadow::after {
    content: '';
    position: absolute;
    bottom: -200%;
    left: calc(100% + 15px);
    width: 100%;
    height: 200%;
    background: linear-gradient(rgba(0,0,0,0.075), transparent);
    transform: skewX(45deg);
  }
  
  .box .content {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(#dbdae1, #a3aaba);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1),
      15px 15px 15px rgba(0,0,0,0.1),
      20px 20px 20px rgba(0,0,0,0.1),
      50px 50px 50px rgba(0,0,0,0.1),
      inset 3px 3px 2px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .box .content .percent {
    position: relative;
    width: 150px;
    height: 150px;
  }
  
  .box .content .percent::before {
    content: attr(data-text);
    position: absolute;
    inset: 20px;
    background: #583257;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
  
  .box .content .percent svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
  }
  
  .box .content .percent svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 3;
    stroke: rgba(0,0,0,0.05);
    transform: translate(5px, 5px);
  }
  
  .box .content .percent svg circle:nth-child(2) {
    stroke:  #ea8a9a;
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .box .content .percent .dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animateDot 2s linear forwards;
  }
  
  @keyframes animateDot {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(calc(3.6deg * var(--num)));
    }
  }
  
  .box .content .percent .dot::before {
    content: '';
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
  
  .box .content .number {
    position: relative;
    inset: 0;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
  }
  
  .box .content .number h2 {
    font-size: 2.5rem;
    color: #555;
  }
  
  .box .content .number h2 span {
    font-weight: 300;
    font-size: 1.5rem;
  }
  
  @media (min-width: 576px) {
    .experience-list {
      display: none;
    }
  }

  
  /*Contact*/
  footer {
    background-color: #f6fdbf;
  }
  .contact-list {
    list-style: none;
  }
  .social-media-list {
    list-style: none;
  }
  .contact-list {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: #aaa;
  }
  
  .contact-text {
    font: 300 18px 'Lato', sans-serif;
    letter-spacing: 1.9px;
    color: #bbb;
  }
  
  .place {
    margin-left: 62px;
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .gmail {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: #bbb;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: #fff;
    text-decoration: none;
  }
  
  
  /* Social Media Icons */
  .social-media-list {
    position: relative;
    font-size: 22px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  
  .social-media-list li a {
    color: #fff;
  }
  
  .social-media-list li {
    position: relative; 
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 10px 3px;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(27,27,27);
    cursor: pointer; 
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    opacity: 0;
    box-shadow: 0 0 0 1px #fff;
    transition: all .2s ease-in-out;
  }
  
  .social-media-list li:hover {
    background-color: #fff; 
  }
  
  .social-media-list li:hover:after {
    opacity: 1;  
    transform: scale(1.12);
    transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
  }
  
  .social-media-list li:hover a {
    color: #000;
  }
  
  .copyright {
    font: 200 14px 'Oswald', sans-serif;
    color: #583257;
    letter-spacing: 1px;
    text-align: center;
  }
  
  hr {
    border-color: rgba(255,255,255,.6);
  }
  